@mixin Display($alignItems: '', $justifyContent: '', $flexDirection: '') {
    display: flex;
    
    @if $justifyContent != '' {
        justify-content: $justifyContent;
    }

    @if $alignItems != '' {
        align-items: $alignItems;
    }

    @if $flexDirection != '' {
        flex-direction: $flexDirection;
    }
}